<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Weather App</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    <body>
        <!-- top navigation bar -->
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Weather</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="nav-link active" aria-current="page" href="{{ url_for('home') }}">Home</a>
                  <a class="nav-link" href="{{url_for('visuals')}}">Visuals</a>
                </div>
              </div>
            </div>
          </nav>
    
    <!-- Change position for content box-->
    <style>
     .container {
          width: 70%; /* Adjust as needed */
        margin-right: auto;
        margin-left: 0;
        }
    </style>

    <style>
        .prediction-text {
        position: absolute;
        top: 2%;
        left: 200%;
        transform: translate(-50%, -10%);
        text-align: center;
        width: 100%;
        }
        /* Adjust the container style as needed */
        .container {
        margin-top: 100px; /* Adjust this value based on your layout */
        }
    </style>

          <!-- content box -->
    <div class="container mt-5" style="max-width: 400px;">
        <div class="card">
            <div class="card-header">
                Weather Prediction
            </div>
            <div class="card-body">

                <form action="{{ url_for('predict') }}" method="post">
                    <div>
                        <label for="precipitation">Precipitation <input type="range" name="precipitation" id="precipitation" min="0" max="60" value="25" step=".1" oninput="rangeValue.innerText = this.value"><p id="rangeValue">25.1</p>
                    </div>

                    <div>
                        <label for="temp_max">Temp Max <input type="range" name="temp_max" id="temp_max" min="-10" max="60" value="25" step=".1" oninput="rangeValue_1.innerText = this.value"><p id="rangeValue_1">25.1</p>
                    </div>

                    <div>
                        <label for="temp_min">Temp Min <input type="range" name="temp_min" id="temp_min" min="-10" max="60" value="25" step=".1" oninput="rangeValue_2.innerText = this.value"><p id="rangeValue_2">25.1</p>
                    </div>

                    <div>
                        <label for="wind">Wind<input type="range" name="wind" id="wind" min="-0" max="10" value="5" step=".1" oninput="rangeValue_3.innerText = this.value"><p id="rangeValue_3">25.1</p>
                    </div>
        
                    <button type="submit" class="btn btn-primary btn-block btn-large">
                        Predict
                    </button>
                    <br/>
                    <br/>
        
                    <div class="prediction-text">
                    <h2>Predicted Weather is: <span style="color:red;">{{ prediction[0] }}</span></h2>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <!-- Bootstrap Bundle with Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-7HYR5PBMoTdGQF8B7L0jxVc6c8JFqS3L8jBoBwC5wUOJj+42ZXd0L4L7Tl/5hw06"
        crossorigin="anonymous">
    </script>
    </body>

    </html>